.IconCSS {
    padding-right: 10px;
    fill: black;
}

.IconCSS:hover,
.IconCSS:active {
    fill: rgba(0,0,0,0.5);
}

/*@media screen and (prefers-color-scheme: dark) {*/
/*    .IconCSS {*/
/*        fill: black;*/
/*    }*/
/*    .IconCSS:hover,*/
/*    .IconCSS:active {*/
/*        fill: #afadad;*/
/*    }*/
/*}*/

