.IconCSS {
    height: 100%;
    margin: 0 15px;
    fill: black;
}

.IconCSS:hover,
.IconCSS:active {
    fill: #9a9a9a;
}

@media screen and (prefers-color-scheme: dark) {
    .IconCSS {
        fill: white;
    }
    .IconCSS:hover,
    .IconCSS:active {
        fill: #afadad;
    }
}

