._gtZv_alSroUeBaHvi0KH {
    text-transform: capitalize;
}

._gtZv_alSroUeBaHvi0KH input{
    background-color: #f5f8fa;
    box-sizing: border-box;
    border-radius: 2px;
    display: inline-block;
    width: 90%;
}

._5Tj8Z3FSZL121j-jzjEGi {
    margin-top: 100px;
}

._3az_pWuEy_ChteTfqccAIX {
    text-align: center;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    width: 55%;
    height: 250px;
    background-color: whitesmoke;
    box-sizing: border-box;
    border-radius: 20px;

}
._3az_pWuEy_ChteTfqccAIX:hover{
    background-color: #ebedee;
    cursor: pointer;
}
._3jE0IIxKh8DiqM4Db3RwJE {
    text-align: left;
    font-weight: bold;
    color: green;
    width: 40%;
    float: left;
    margin-left: 50px;
}
._3EHvZ9J7cZWKbUUdJROU9s {
    text-align: right;
    width: 40%;
    font-weight: bold;
    float: right;
    margin-right: 50px;
}

/*Add mobile support after*/

.tHKExWUw8eeYBcIxLlGhE {
    text-align: center;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    width: 55%;
    height: 250px;
    background-color: whitesmoke;
    box-sizing: border-box;
    border-radius: 20px;
}

._1bCQ0-K9QgGHsqxmbm74KX{
    text-align: center;
    color: #3cacff;
    font-size: 50px;

}

._3tFHPtTjVS5sbDsk4p9DYp{
    width: 100%;
    height: auto;
    background-color: #a7ff83;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "sans-serif";
}
html {
    overflow-y: scroll;
}
p {
    margin: 0;
}

