.NavigationItemsCSS{
    float: left;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    display: block;
    margin: auto;


}
.NavigationItemsCSS li {
    display: inline-block;
}

.NavigationItemsCSS li a{
    color: #727272;
    margin: 0 20px;
    font-weight: bold;
    text-decoration: none;
}

.NavigationItemsCSS li a:hover{
    color: black;
}
