@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Open Sans";
    font-weight: normal;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
  }
}
